* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background: linear-gradient(
		to right,
		#bbcea8 0%,
		#bbcea8 50%,
		#e3d87e 50%,
		#e3d87e 100%
	);
}

header {
	display: flex;
	padding: 1.5rem 0 min(8.5vw, 4rem) 0;
}

header h1 {
	color: #748067;
	font-family: 'Poppins', cursive;
	font-size: clamp(3rem, 10vw, 5rem);
	font-style: italic;
	margin: 0 auto;
	text-transform: uppercase;
}

main {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	justify-content: center;
}

.dice {
	width: 70vw;
	display: flex;
	justify-content: space-around;
}

.dice--1,
.dice--2 {
	display: flex;
	flex-direction: column;
}

.dice img {
	margin: 0 auto;
	aspect-ratio: 1;
	width: 17rem;
}

.dice h2 {
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	color: #0b0a07;
	text-transform: uppercase;
	font-weight: 300;
}

.roll-dice-btn {
	margin: 2.75rem auto 0 auto;
	font-size: 1.3rem;
	border: 0;
	border-radius: 5px;
	background-color: #748067;
	color: #ffffff;
	padding: 7.5px 2.25rem;
	cursor: pointer;
	transition: all 0.25s;
}

.roll-dice-btn:hover,
.roll-dice-btn:active {
	transform: scale(1.05);
}

.new-game-btn {
	margin: 0 auto;
	max-width: fit-content;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	font-size: large;
	color: #0b0a07;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.new-game-btn:hover {
	color: #748067;
}

main p {
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.dice {
		flex-direction: column;
		gap: 10vw;
	}

	.dice img {
		width: 30vw;
	}

	.roll-dice-btn {
		font-size: 1rem;
		padding: 7.5px 2rem;
	}
}
